# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.flaskenv
node_modules/vanillajs-datepicker/.eslintignore
node_modules/vanillajs-datepicker/.eslintrc.json
node_modules/vanillajs-datepicker/.stylelintrc
node_modules/vanillajs-datepicker/CHANGELOG.md
node_modules/vanillajs-datepicker/LICENSE
node_modules/vanillajs-datepicker/package.json
node_modules/vanillajs-datepicker/README.md
node_modules/vanillajs-datepicker/rollup.config.js
node_modules/vanillajs-datepicker/demo/bs4.html
node_modules/vanillajs-datepicker/demo/bs5.html
node_modules/vanillajs-datepicker/demo/foundation.html
node_modules/vanillajs-datepicker/demo/index.html
node_modules/vanillajs-datepicker/demo/live-demo.js
node_modules/vanillajs-datepicker/demo/plain-css.html
node_modules/vanillajs-datepicker/docs/_sidebar.md
node_modules/vanillajs-datepicker/docs/.nojekyll
node_modules/vanillajs-datepicker/docs/api.md
node_modules/vanillajs-datepicker/docs/date-string+format.md
node_modules/vanillajs-datepicker/docs/i18n.md
node_modules/vanillajs-datepicker/docs/index.html
node_modules/vanillajs-datepicker/docs/options.md
node_modules/vanillajs-datepicker/docs/overview.md
node_modules/vanillajs-datepicker/docs/README.md
node_modules/vanillajs-datepicker/docs/images/datepicker-inline.jpg
node_modules/vanillajs-datepicker/docs/images/datepicker.jpg
node_modules/vanillajs-datepicker/docs/images/multidate.jpg
node_modules/vanillajs-datepicker/docs/images/picker-structure.jpg
node_modules/vanillajs-datepicker/docs/images/rangepicker.jpg
node_modules/vanillajs-datepicker/docs/images/view-days.jpg
node_modules/vanillajs-datepicker/docs/images/view-decades.jpg
node_modules/vanillajs-datepicker/docs/images/view-months.jpg
node_modules/vanillajs-datepicker/docs/images/view-years.jpg
node_modules/vanillajs-datepicker/extras/twoDigitToFullYear/twoDigitToFullYear.js
node_modules/vanillajs-datepicker/extras/twoDigitToFullYear/test/twoDigitToFullYear.js
node_modules/vanillajs-datepicker/js/datepicker-full.js
node_modules/vanillajs-datepicker/js/Datepicker.js
node_modules/vanillajs-datepicker/js/DateRangePicker.js
node_modules/vanillajs-datepicker/js/main.js
node_modules/vanillajs-datepicker/js/events/functions.js
node_modules/vanillajs-datepicker/js/events/inputFieldListeners.js
node_modules/vanillajs-datepicker/js/events/otherListeners.js
node_modules/vanillajs-datepicker/js/events/pickerListeners.js
node_modules/vanillajs-datepicker/js/i18n/base-locales.js
node_modules/vanillajs-datepicker/js/i18n/locales/ar-DZ.js
node_modules/vanillajs-datepicker/js/i18n/locales/ar-tn.js
node_modules/vanillajs-datepicker/js/i18n/locales/ar.js
node_modules/vanillajs-datepicker/js/i18n/locales/az.js
node_modules/vanillajs-datepicker/js/i18n/locales/bg.js
node_modules/vanillajs-datepicker/js/i18n/locales/bm.js
node_modules/vanillajs-datepicker/js/i18n/locales/bn.js
node_modules/vanillajs-datepicker/js/i18n/locales/br.js
node_modules/vanillajs-datepicker/js/i18n/locales/bs.js
node_modules/vanillajs-datepicker/js/i18n/locales/ca.js
node_modules/vanillajs-datepicker/js/i18n/locales/cs.js
node_modules/vanillajs-datepicker/js/i18n/locales/cy.js
node_modules/vanillajs-datepicker/js/i18n/locales/da.js
node_modules/vanillajs-datepicker/js/i18n/locales/de.js
node_modules/vanillajs-datepicker/js/i18n/locales/el.js
node_modules/vanillajs-datepicker/js/i18n/locales/en-AU.js
node_modules/vanillajs-datepicker/js/i18n/locales/en-CA.js
node_modules/vanillajs-datepicker/js/i18n/locales/en-GB.js
node_modules/vanillajs-datepicker/js/i18n/locales/en-IE.js
node_modules/vanillajs-datepicker/js/i18n/locales/en-NZ.js
node_modules/vanillajs-datepicker/js/i18n/locales/en-ZA.js
node_modules/vanillajs-datepicker/js/i18n/locales/eo.js
node_modules/vanillajs-datepicker/js/i18n/locales/es.js
node_modules/vanillajs-datepicker/js/i18n/locales/et.js
node_modules/vanillajs-datepicker/js/i18n/locales/eu.js
node_modules/vanillajs-datepicker/js/i18n/locales/fa.js
node_modules/vanillajs-datepicker/js/i18n/locales/fi.js
node_modules/vanillajs-datepicker/js/i18n/locales/fo.js
node_modules/vanillajs-datepicker/js/i18n/locales/fr-CH.js
node_modules/vanillajs-datepicker/js/i18n/locales/fr.js
node_modules/vanillajs-datepicker/js/i18n/locales/gl.js
node_modules/vanillajs-datepicker/js/i18n/locales/he.js
node_modules/vanillajs-datepicker/js/i18n/locales/hi.js
node_modules/vanillajs-datepicker/js/i18n/locales/hr.js
node_modules/vanillajs-datepicker/js/i18n/locales/hu.js
node_modules/vanillajs-datepicker/js/i18n/locales/hy.js
node_modules/vanillajs-datepicker/js/i18n/locales/id.js
node_modules/vanillajs-datepicker/js/i18n/locales/is.js
node_modules/vanillajs-datepicker/js/i18n/locales/it-CH.js
node_modules/vanillajs-datepicker/js/i18n/locales/it.js
node_modules/vanillajs-datepicker/js/i18n/locales/ja.js
node_modules/vanillajs-datepicker/js/i18n/locales/ka.js
node_modules/vanillajs-datepicker/js/i18n/locales/kk.js
node_modules/vanillajs-datepicker/js/i18n/locales/km.js
node_modules/vanillajs-datepicker/js/i18n/locales/ko.js
node_modules/vanillajs-datepicker/js/i18n/locales/lt.js
node_modules/vanillajs-datepicker/js/i18n/locales/lv.js
node_modules/vanillajs-datepicker/js/i18n/locales/me.js
node_modules/vanillajs-datepicker/js/i18n/locales/mk.js
node_modules/vanillajs-datepicker/js/i18n/locales/mn.js
node_modules/vanillajs-datepicker/js/i18n/locales/mr.js
node_modules/vanillajs-datepicker/js/i18n/locales/ms.js
node_modules/vanillajs-datepicker/js/i18n/locales/nl-BE.js
node_modules/vanillajs-datepicker/js/i18n/locales/nl.js
node_modules/vanillajs-datepicker/js/i18n/locales/no.js
node_modules/vanillajs-datepicker/js/i18n/locales/oc.js
node_modules/vanillajs-datepicker/js/i18n/locales/pl.js
node_modules/vanillajs-datepicker/js/i18n/locales/pt-BR.js
node_modules/vanillajs-datepicker/js/i18n/locales/pt.js
node_modules/vanillajs-datepicker/js/i18n/locales/ro.js
node_modules/vanillajs-datepicker/js/i18n/locales/ru.js
node_modules/vanillajs-datepicker/js/i18n/locales/si.js
node_modules/vanillajs-datepicker/js/i18n/locales/sk.js
node_modules/vanillajs-datepicker/js/i18n/locales/sl.js
node_modules/vanillajs-datepicker/js/i18n/locales/sq.js
node_modules/vanillajs-datepicker/js/i18n/locales/sr-latn.js
node_modules/vanillajs-datepicker/js/i18n/locales/sr.js
node_modules/vanillajs-datepicker/js/i18n/locales/sv.js
node_modules/vanillajs-datepicker/js/i18n/locales/sw.js
node_modules/vanillajs-datepicker/js/i18n/locales/ta.js
node_modules/vanillajs-datepicker/js/i18n/locales/tg.js
node_modules/vanillajs-datepicker/js/i18n/locales/th.js
node_modules/vanillajs-datepicker/js/i18n/locales/tk.js
node_modules/vanillajs-datepicker/js/i18n/locales/tr.js
node_modules/vanillajs-datepicker/js/i18n/locales/uk.js
node_modules/vanillajs-datepicker/js/i18n/locales/uz-cyrl.js
node_modules/vanillajs-datepicker/js/i18n/locales/uz-latn.js
node_modules/vanillajs-datepicker/js/i18n/locales/vi.js
node_modules/vanillajs-datepicker/js/i18n/locales/zh-CN.js
node_modules/vanillajs-datepicker/js/i18n/locales/zh-TW.js
node_modules/vanillajs-datepicker/js/options/defaultOptions.js
node_modules/vanillajs-datepicker/js/options/processOptions.js
node_modules/vanillajs-datepicker/js/picker/Picker.js
node_modules/vanillajs-datepicker/js/picker/templates/calendarWeeksTemplate.js
node_modules/vanillajs-datepicker/js/picker/templates/daysTemplate.js
node_modules/vanillajs-datepicker/js/picker/templates/pickerTemplate.js
node_modules/vanillajs-datepicker/js/picker/views/DaysView.js
node_modules/vanillajs-datepicker/js/picker/views/MonthsView.js
node_modules/vanillajs-datepicker/js/picker/views/View.js
node_modules/vanillajs-datepicker/js/picker/views/YearsView.js
node_modules/vanillajs-datepicker/sass/_mixins.scss
node_modules/vanillajs-datepicker/sass/datepicker-bs4.scss
node_modules/vanillajs-datepicker/sass/datepicker-bs5.scss
node_modules/vanillajs-datepicker/sass/datepicker-bulma.scss
node_modules/vanillajs-datepicker/sass/datepicker-foundation.scss
node_modules/vanillajs-datepicker/sass/datepicker.scss
node_modules/vanillajs-datepicker/sass/index-bs4.scss
node_modules/vanillajs-datepicker/sass/index-bs5.scss
node_modules/vanillajs-datepicker/sass/index-bulma.scss
node_modules/vanillajs-datepicker/sass/index-foundation.scss
node_modules/vanillajs-datepicker/scripts/build-css.js
node_modules/vanillajs-datepicker/scripts/build-locales.js
node_modules/vanillajs-datepicker/scripts/convert-bsdp-locales.js
node_modules/vanillajs-datepicker/scripts/minify-css.js
node_modules/vanillajs-datepicker/scripts/minify-js.js
node_modules/vanillajs-datepicker/test/events.js
node_modules/vanillajs-datepicker/test/inline-mode.js
node_modules/vanillajs-datepicker/test/mouse-operation.js
node_modules/vanillajs-datepicker/test/test.html
node_modules/vanillajs-datepicker/test/DateRangePicker/api-methods.js
node_modules/vanillajs-datepicker/test/DateRangePicker/date-selection.js
node_modules/vanillajs-datepicker/test/DateRangePicker/DateRangePicker.js
node_modules/vanillajs-datepicker/test/DateRangePicker/options.js
node_modules/vanillajs-datepicker/test/Datepicker/api-methods.js
node_modules/vanillajs-datepicker/test/Datepicker/Datepicker-object.js
node_modules/vanillajs-datepicker/test/_utils/date.js
node_modules/vanillajs-datepicker/test/_utils/dom.js
node_modules/vanillajs-datepicker/test/keyboard-operation/arrow-down.js
node_modules/vanillajs-datepicker/test/keyboard-operation/arrow-left.js
node_modules/vanillajs-datepicker/test/keyboard-operation/arrow-right.js
node_modules/vanillajs-datepicker/test/keyboard-operation/arrow-up.js
node_modules/vanillajs-datepicker/test/keyboard-operation/edit-mode.js
node_modules/vanillajs-datepicker/test/keyboard-operation/keyboard-operation.js
node_modules/vanillajs-datepicker/test/options/before-show.js
node_modules/vanillajs-datepicker/test/options/bulma-datepicker.sublime-workspace
node_modules/vanillajs-datepicker/test/options/buttons.js
node_modules/vanillajs-datepicker/test/options/date-restrictions.js
node_modules/vanillajs-datepicker/test/options/format.js
node_modules/vanillajs-datepicker/test/options/multidate.js
node_modules/vanillajs-datepicker/test/options/options.js
node_modules/vanillajs-datepicker/test/options/orientation.js
node_modules/vanillajs-datepicker/test/options/pick-levle+view.js
node_modules/vanillajs-datepicker/test/unit/_setup.js
node_modules/vanillajs-datepicker/test/unit/Datepicker.js
node_modules/vanillajs-datepicker/test/unit/DateRangePicker.js
package-lock.json
