{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-50 text-white bg-dark" id="link" name="link" placeholder="Ticket Booking Link" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-50 text-white bg-dark" id="filmname" name="filmname" placeholder="Film Name" type="text">
        </div>

        <div class="row mb-5 w-50 mx-auto " id="foo" >
            <div class="col">
                <input autocomplete="off" class="date form-control text-white bg-dark" id="startdate" type="text" name="start" placeholder="Start Date">
            </div>
            <div class="col">
                <input autocomplete="off" class="date form-control text-white bg-dark" id="enddate" name="end" placeholder="End Date" type="text">  
            </div>
        </div>

        <button class="btn btn-primary" placeholder="Start Date" type="submit">Enable Ticket Sense</button>

    </form>

    

    <script>
        const elem = document.getElementById('foo');
        const datepicker = new DateRangePicker(elem, {
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        });
    </script>

{% endblock %}